// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  white: 	  #ffffff,
  NU: 		  #4d2e82,
  inactive:   #D3C6C6

);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// Nav bar
$toolbar-ios-button-color: color($colors, white);

// Search bar
$searchbar-ios-background-color: color($colors, NU);
$searchbar-ios-border-color: color($colors, NU);
$searchbar-ios-toolbar-input-background: color($colors, NU);
$searchbar-ios-input-placeholder-color: color($colors, NU);




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here


// Nav bar
$toolbar-md-button-color: color($colors, white);

// Search bar
$searchbar-md-background-color: color($colors, NU);
$searchbar-md-border-color: color($colors, NU);
$searchbar-md-toolbar-input-background: color($colors, NU);
$searchbar-md-input-placeholder-color: color($colors, NU);

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here


// Nav bar
$toolbar-wp-button-color: color($colors, white);

// Search bar
$searchbar-wp-background-color: color($colors, NU);
$searchbar-wp-border-color: color($colors, NU);
$searchbar-wp-toolbar-input-background: color($colors, NU);
$searchbar-wp-input-placeholder-color: color($colors, NU);


// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

// @import "roboto";
// @import "noto-sans";
@font-face {
     font-family: "Century Gothic";
     font-style: "normal";
     font-weight: "normal";
     src: url($font-path+'/century-gothic/GOTHIC.TTF') format('truetype');
 }
 // @font-face {
 //      font-family: "Century Gothic";
 //      font-style: "normal";
 //      font-weight: "bold";
 //      src: url($font-path+'/century-gothic/GOTHICB.TTF') format('truetype');
 //  }
 //  @font-face {
 //       font-family: "Century Gothic";
 //       font-style: "italic";
 //       font-weight: "bold";
 //       src: url($font-path+'/century-gothic/GOTHICBI.TTF') format('truetype');
 //   }
 //   @font-face {
 //        font-family: "Century Gothic";
 //        font-style: "italic";
 //        font-weight: "normal";
 //        src: url($font-path+'/century-gothic/GOTHICI.TTF') format('truetype');
 //    }

$font-family-base: "Century Gothic";
ion-header,ion-content, ion-tabs {
  font-family: "Century Gothic" !important;
}
