<ion-header>
  <ion-navbar align-title="center">
    <ion-title>
      <p class="nav-title" *ngIf="userData">{{ userData.name }}</p>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content text-center>
  <div class="img-wrapper">
    <img *ngIf="isString(fbData.picture)" class="profile-pic" [src]="fbData.picture" />
    <img *ngIf="!isString(fbData.picture)" class="profile-pic" [src]="fbData.picture | async" />
  </div>

  <ion-list *ngIf="(userData | async) as user">
    <ion-list-header> {{ user.name }}'s Classes </ion-list-header>
    <ion-item *ngFor="let course of getKeys(user.courses_interested[quarter])" text-wrap (click)="onSelect(course)">
      {{course}}
    </ion-item>

  </ion-list>

</ion-content>