<ion-header>
  <ion-navbar>
    <ion-title text-center>
      <p class="nav-title">FRIEND NAME</p>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content text-center>

	<ion-card *ngIf="userData">
	    <ion-card-header>{{ userData.name }}</ion-card-header>
      <img class="profile-pic" [src]="userData.picture"/>
	</ion-card>

  <ion-list *ngIf="userData && userCourses">
    <ion-list-header> {{ userData.name }}'s Classes  </ion-list-header>
    <ion-item *ngFor="let course of userCourses[quarter]" text-wrap>
      {{course}}
    </ion-item>

  </ion-list>

</ion-content>
