<ion-header>
  <ion-navbar align-title="center">
    <ion-title>
      <p class="nav-title" *ngIf="userData">{{ userData.name }}</p>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content text-center>

  <ion-card *ngIf="fbData">
    <ion-card-header>{{ fbData.name }}</ion-card-header>
    <img *ngIf="isString(fbData.picture)" class="profile-pic" [src]="fbData.picture" />
    <img *ngIf="!isString(fbData.picture)" class="profile-pic" [src]="fbData.picture | async" />
  </ion-card>

  <ion-list *ngIf="userData && userCourses">
    <ion-list-header> {{ userData.name }}'s Classes </ion-list-header>
    <ion-item *ngFor="let course of userCourses[quarter]" text-wrap (click)="onSelect(course)">
      {{course}}
    </ion-item>

  </ion-list>

</ion-content>