<ion-header>
  <ion-navbar class="nav-title">
    <ion-title text-center>
      <p class="nav-title">{{ quarter | quarterPipe }}</p>
    </ion-title>
  </ion-navbar>
  <ion-searchbar
    [(ngModel)]="searchTerm"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="onSearch($event)"
    (ionCancel)="onCancel($event)">
  ></ion-searchbar>
</ion-header>

<ion-content padding>

  <div *ngIf="!filteredItems" text-center margin="20%">
    <h4>Search by course name, number or title.</h4>
  </div>

  <ion-list>

    <ion-list-header *ngIf="filteredItems"> Classes </ion-list-header>
    <!-- <ion-item *ngFor="let course of filteredItems" (click)="onSelect(course)"> -->
    <div *ngFor="let course of filteredItems" (click)="onSelect(course)">
      <course-card [course]="course"></course-card>
    </div>
    <!-- </ion-item> -->

  </ion-list>
</ion-content>
