<ion-header>

  <ion-navbar align-title="center">
    <ion-title>
      <p class="nav-title">Home</p>
    </ion-title>
    <ion-buttons end >
      <button ion-button icon-only (click)="addClasses()" >
        <ion-icon name="search" class="nav-title"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-list *ngIf="currentQuarter && userCourses">

    <ion-list-header>
      <ion-label>My Classes</ion-label>
      <ion-select [(ngModel)]="currentQuarter">
        <ion-option *ngFor="let quarter of quarters; let idx = index" [value]="quarter.name" selected="{{(idx==0).toString()}}">
            {{ quarter.name | quarterPipe }}
        </ion-option>
      </ion-select>
    </ion-list-header>
    <ion-item *ngIf="!userCourses[currentQuarter] else list_of_courses" style="margin-bottom:2%">Nothing yet!</ion-item>
    <button #list_of_courses ion-item *ngFor="let course of userCourses[currentQuarter]" text-wrap (click)="onSelect(course)">
      {{course}}
    </button>

  </ion-list>

<ion-list >

    <ion-list-header> My Friends on StruggleBus  </ion-list-header>
    <ion-item class="text" *ngFor="let friend of userFriends" (click)="onFriendSelect(friend)">
      <ion-label>{{ friend.name }}</ion-label>
      <!-- <ion-note item-end>{{ friend.id }}</ion-note> -->
      <ion-avatar item-start>
        <img [src]="friend.picture" >
      </ion-avatar>
    </ion-item>

  </ion-list>


</ion-content>
