
<ion-header>

  <ion-navbar>
    <ion-title text-center> 
     <p class="nav-title">{{ (courseInfo | async)?.subject }} {{ (courseInfo | async)?.abbv }}</p>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item class="text"> Name: {{ (courseInfo | async)?.name }} </ion-item>
  <ion-item class="text"> Abbv: {{ (courseInfo | async)?.abbv }} </ion-item>
  <ion-item class="text"> School: {{ (courseInfo | async)?.school }} </ion-item>
  <ion-item class="text"> Subject: {{ (courseInfo | async)?.subject }} </ion-item>
  <ion-item class="text"> Term: {{ (courseInfo | async)?.term }} </ion-item>

  <div *ngIf="(friends_interested | async)?.length">
    <ion-list-header> Facebook Friends Interested:  </ion-list-header>
    <ion-item class="text" *ngFor="let friend of friends_interested | async">
        {{ friend.name }}
    </ion-item>
  </div>


	<ion-list-header> People Interested:  </ion-list-header>
	<ion-item class="text" *ngFor="let person of people_interested | async">
      {{ person.name }}
  </ion-item>
    
    
  	<button ion-button [disabled]="button_disabled" block color="NU" (click)=addUser()> I'M INTERESTED </button>


</ion-content>
