
<ion-header>

  <ion-navbar>
    <ion-title text-center> 
     <p class="nav-title">{{ (courseInfo | async)?.subject }} {{ (courseInfo | async)?.abbv }}</p>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>
    <ion-card-header>{{ userData.username }}</ion-card-header>
    <ion-card-content>
      <p> Name: {{ (courseInfo | async)?.name }} </p>
      <p> Abbv: {{ (courseInfo | async)?.abbv }} </p>
      <p> School: {{ (courseInfo | async)?.school }} </p>
      <p> Subject: {{ (courseInfo | async)?.subject }} </p>
      <p> Term: {{ (courseInfo | async)?.term }} </p>
    </ion-card-content>
  </ion-card>
	

  <div *ngIf="(friends_interested | async)?.length">
    <ion-list-header> Facebook Friends Interested:  </ion-list-header>
    <ion-item class="text" *ngFor="let friend of friends_interested | async">
        {{ friend.name }}
    </ion-item>
  </div>


	<ion-list-header> People Interested:  </ion-list-header>
	<ion-item class="text" *ngFor="let person of people_interested | async">
      {{ person.name }}
  </ion-item>
    
    

  	<button ion-button [disabled]="button_disabled" block color="NU" (click)=addUser()> I'M INTERESTED </button>


</ion-content>
